* {
  box-sizing: border-box;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
}

html {
  height: 100%;
  min-height: 100%;
  margin:0;
  padding:0;
}

body {
  height: 100%;
  min-height: 100%;
  margin:0;
  padding:0;
}

h1 {
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  margin: 0px;
}

h2 {
  color: black;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 52px;
  margin: 0px;
}
h3 {
  color: black;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin: 0px;
}

#parent {
  height: 100%;
  min-height: 100%;
  margin:0;
  padding:0;
}

.nav {
  height: 50px;
  display: flex;
  flex-direction: row
  width: 100%;
  margin:0;
  padding:0;
  background-color: black;
}
.nav .logo{
  display: flex;
  flex-direction: row;
  flex-grow:1;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.nav .logo .logo-icon{
  margin: 0px 2.5px 0px 5px;
  background-image: url('./logo.png');
  background-size: contain;
  height:40px;
  width: 40px;
  min-height:40px;
  min-width: 40px;
}
.nav .logo .logo-text a{
  color: white;
  text-decoration: none;
  font-size: 21px;
}
.nav .logo .logo-text{
  margin: 10px 10px 10px 2.5px;
}
.nav .nav-buttons{
  display: flex;
  flex-direction: row;
  flex-grow:1;
  justify-content: flex-end;
  align-items: center;
}
.nav .nav-buttons .nav-button a{
  margin: 10px;
  text-decoration: none;
  color: white;
}
.nav .nav-buttons .nav-button a:hover{
  text-decoration: none;
  color: #E2E2E2;
}

.cedarcity-splash{
	display: flex;
	flex-direction: column;
  	min-height: 100%;
	max-height: 100%;
	height: 100%;
	width: 100%;
	background-image: url('./imgs/cedarcity_page2splash.png');
	background-size: cover;
}

.cedarcity-splash .location-description{
	display: flex;
	color: white;
	flex-grow: 4;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin:0;
  	padding:0;

  	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
}

.cedarcity-splash .location-description p{
	justify-content: center;
	font-color: white;
	font-size: 35px;
	line-height: 52px;
	margin:0;
  	padding:0;
}

.cedarcity-splash .splash-gradient{
	display: flex;
	flex-grow: 1;
	min-height: 25%;
	width: 100%;
	min-width: 100%;
	height: 150px;
	align-items: flex-end;
	background-image: linear-gradient(transparent, white);
}

.description-parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: 0px 0px 20px 0px;
}
.description-parent .page-header {
	display: flex;
	width: 100%;
	min-width: 100%;
	justify-content: center;
}

.description-parent .page-header p{
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 74px;
	/*margin: 10px 0px 10px 0px;*/
}

.description-parent .description-header{
	display: flex;
	flex-direction: row;
	width: 100%;
	min-width: 100%;
	align-items: flex-end;
}

.description-parent .description-header .underline {
	display: flex;
	align-items: flex-end;
	width: 100%;
  	border-bottom: 1px solid black;
  	margin: 0px 30px 0px 30px;
}

.description-parent .description-header h2{
	margin: 0px 30px 0px 30px;
}

.description-parent .description-header h3{
	margin: 0px 0px 3px 0px;
}

.description-parent .description-text {
	border-left: 1px solid black;
	margin: 0px 70px 0px 70px;
}

.description-parent .description-text p {
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 44px;
	margin: 0px 0px 0px 10px;
}

.description-parent .description-text ul.no-bullets{
  	list-style-type: none;
  	margin: 0px;
  	padding: 0px 0px 0px 10px;
}

.description-parent .description-text ul.bullets{
  	list-style-type: circle;
	list-style-position: outside;
  	margin: 20px 0px 20px 50px;
  	padding: 0px 0px 0px 10px;
}

.description-parent .description-text ul li{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 44px;
}

.footer{
  height: 100px;
  display: flex;
  flex-direction: row
  width: 100%;
  background-color: black;
  margin:0;
  padding:0;
}

.footer .logo{
  display: flex;
  flex-direction: row;
  flex-grow:1;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.footer .logo .logo-icon{
  margin: 0px 2.5px 0px 5px;
  background-image: url('./logo.png');
  background-size: contain;
  height:40px;
  width: 40px;
  min-height:40px;
  min-width: 40px;
}

.footer .logo .logo-text a{
  color: white;
  text-decoration: none;
  font-size:21px;
}

.footer .logo .logo-text{
  margin: 10px 10px 10px 2.5px;
  font-size:21px;
}

.footer .contact-text{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0px;
}

.footer .contact-text p{
  margin: 2.5px;
  color: white;
}